/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_container__jZF7q {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #121212; /* Dark grey background */
  color: #ffffff;
}

.page_accountInfo__N1TPq {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
}

.page_withdrawal__AESBh {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.page_input__lx_gt {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.page_button__52WaL {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.page_button__52WaL:hover {
  background-color: #0056b3;
}

