/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* page.module.css */
.page_container__jZF7q {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.page_button__52WaL {
  background-color: #0070f3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.page_button-group___clpt {
  display: flex;
  justify-content: space-between;
}

.page_account-info__T7pNk {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 4px;
}

