/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_form__NxPAx {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.page_input__lx_gt {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

.page_button__52WaL {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.page_table__qtljL {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.page_table__qtljL th,
.page_table__qtljL td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.page_table__qtljL th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.page_table__qtljL td {
  word-break: break-word;
}

.page_button-group___clpt {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.page_account-info__T7pNk {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.page_input-full-width__3SjOZ {
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.page_button-wide__tWTj1 {
  width: 100%;
  box-sizing: border-box; /* Ensures padding is included in the width */
  margin-top: 20px;
}

