.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  border: solid 1px black;
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.modalActions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}

.buttonDisabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.buttonEnabled {
  background-color: #199219; /* Light green */
  color: white;
}

.button + .button {
  margin-left: 10px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.formLabel {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.formInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
}
